@import "fonts"
@import "libs"
@import "base"
@import "vars"

a
  text-decoration: none

.grid
  display: grid

/*Header*/
.main-header
  min-height: 100vh
  background-image: url("/img/0-header.jpg")
  background-size: cover
  background-position: center
  position: relative
  align-content: center
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: $dark
    opacity: .92

.header-content
  justify-content: center
  text-align: center
  z-index: 1
  color: #FFF
  padding: 60px $gutter
  margin: 20px 0
  h1
    font-family: intro-grid
    font-size: 60px
    font-weight: normal
    line-height: 1.5


.button
  color: #FFF
  font-family: raleway-grid
  font-size: 20px
  font-weight: 800
  background-color: $accent
  padding: 10px 60px
  transition: background-color .1s ease
  &::after
    transition: background-color .2s ease
    position: absolute
    content: ''
    height: 4px
    bottom: 0
    left: 0
    width: 100%
    background-color: darken($accent, 50%)
    opacity: .18
  &:hover
    background-color: lighten($accent, 5%)
    &::after
      opacity: .22
  &:active
    background-color: darken($accent, 5%)

.button-gray
  background-color: $gray
  &:hover
    background-color: lighten($gray, 5%)
  &:active
    background-color: darken($gray, 5%)

/*Portfolio section*/

.portfolio-section
  padding: 10px
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 10px

.portfolio-item
  min-height: 32vh
  background-position: center
  background-size: cover
  text-align: center
  align-content: center
  color: #FFF
  font-size: 20px
  font-weight: bold
  position: relative
  transition: color .5s ease
  cursor: pointer
  &:hover
    color: $accent
    &::before
      opacity: .8
  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: $dark
    opacity: .50

  &:nth-child(1)
    grid-column: 1 / 3
  &:nth-child(5)
    grid-column: 2 / 4
  &:nth-child(6)
    grid-column: 4
    grid-row: 2 / 4

.buttoncase
  grid-column: 1 / 5
  padding: $gutter $gutter 50px

/*Landing section*/
.container
  max-width: 1200px
  margin: auto
  padding:  0 $gutter
.landing-section
  padding: 80px 0
  color: $dark
  line-height: 1.2
  h2
    font-size: 34px
    font-weight: 800

/*section ready*/
.section-ready
  background-color: $light
  .container
    grid-template-columns: 1fr 1fr
.ready-left
  border-right: 1px solid #dadada
  font-size: 18px
  padding: 60px 20px 60px 60px
  h2
    margin-top: 0
    margin-bottom: 40px
.ready-right
  padding-left: 40px

/*section form*/
.section-form
  background-color: $dark
  padding: 30px 60px
  input
    background-color: lighten($dark, 5%)
  form
    grid-template-columns: repeat(4, 1fr)
    grid-gap: $gutter
  .button
    font-size: 17px
    padding: 14px
    width:  100%
    border: none
input, textarea
  border: none
  padding: 15px 20px
  width: 100%
  font-family: Arial, sans-serif
  font-style: italic
  outline: none
  transition: background-color .2s ease
  &:focus
    background-color: $light
  &::placeholder
    color: lighten($dark, 20%)

.section-blog
  h2
    margin:
      top: 0
      bottom: 50px
  .buttoncase
    padding-bottom: 0
.blog-home
  grid-gap: $gutter
  grid-template-columns: repeat(4, 1fr)

.blog-item
  grid-template-rows: 1fr 1fr
  background-color: #F7F7F7
  color: #333
  font-size: 14px
  transition: background-color .25s ease
  overflow: hidden
  &:hover
    background-color: $light
    color: $dark
    .blog-item-img
      transform: scale(1.05) translateY(-6.5px)
  &:nth-child(3)
    grid-column: 3 / 5
  &:nth-child(4)
    grid-column: 1 / 3
  &-img
    background-size: cover
    background-position: center
    height: 270px
    transition: transform .25s ease
  &-content
    text-align: center
    padding: 25px
    align-content: center
    h4
      font-size: 16px
      padding: $gutter 25px
      color: #666
      line-height: 1.3
      margin: 0
      transition: color .25s ease

/*footer*/
.main-footer
  background: darken($dark, 10%)
  padding: 60px 0
  text-align: center
  color: #4E5355
  grid-template-rows: 1fr 1fr
.footer-logo
  font-family: intro-grid, sans-serif
  font-size: 22px
  line-height: 1.16
  span
    display: block
    font-size: 27px
    color: #707476


.footer-copy
  font-size: 20px
  font-weight: bold
  color: #494D50
  margin-top: 20px


@import "media"
